# Database settings (for now you should use mysql db)
# URL of the db server (default:localhost)
db.host=
# Port the db server listens to (default:3306)
db.port=
# Name of the database (default:praxicon)
db.name=
# Username of db user
db.username=
# Password of user
db.password=


# Some paths
# A temporary path to mainly store XML files
path.tmp=
# Images reside here
path.images=
# ImageNet images reside here
path.ImageNet=
# LabelMe images reside here
path.LabelMe=
# Videos reside here
path.videos=
# Sounds reside here
path.sounds=

# Some URLs
# LabelMe URL
url.LabelMe=
# LabelMe images URL
url.LabelMeImages=
# ImageNet URL
url.ImageNet=

# Some constants
# Weight for variable solver
const.variableSolverWeight=

